<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/Theme.NomKeyboard">

        <!-- 设置界面入口 -->
        <activity
            android:name=".ui.SettingsActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.NomKeyboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Quản lý từ điển người dùng -->
        <activity
            android:name=".ui.UserDictionaryActivity"
            android:exported="false"
            android:label="@string/user_dict_title"
            android:theme="@style/Theme.NomKeyboard" />

        <!-- Tuỳ chọn (全屏偏好设置页) -->
        <activity
            android:name=".ui.PreferencesActivity"
            android:exported="false"
            android:label="@string/section_prefs"
            android:theme="@style/Theme.NomKeyboard" />

        <!-- 输入法服务 -->
        <service
            android:name=".NomInputMethodService"
            android:label="@string/ime_name"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:exported="true">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

    </application>

</manifest>
